<li class='list'>
  <%= link_to good_path(good.id), method: :get do %>
  <div class='item-img-content'>
    <%= image_tag good.image, class: "item-img" %>


      <% if good.orders.present? %>
        <div class='sold-out'>
          <span>Sold Out!</span>
        </div>
      <% end %>


  </div>
  <div class='item-info'>
    <h3 class='item-name'>
      <%= good.items_name %>
    </h3>
    <div class='item-price'>
      <span><%= good.price %>円<br><%= good.payment.name %></span>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </div>
  </div>
  <% end %>
</li>